xml2json/src/main/mule/xml2json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="8782f3ce-74c1-4a18-afdd-df1304bc6564" >
		<mongo:connection database="DealerDetails" username="myUserAdmin" password="abc123" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="006fe105-90f9-402a-8606-8f76f416c65b" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="xml2jsonFlow" doc:id="3912cab3-4e2e-44ca-b501-27e95f05531d" >
		<http:listener doc:name="Listener" doc:id="187427cd-d251-4c18-8637-6acd460b9e9c" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Converting XML to JSON" doc:id="d7b4b368-189b-4be8-8b19-94d3d66117ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:cache doc:name="Cache" doc:id="5745db56-4acd-46f5-a4e1-9acc58f42f0f" >
			<mongo:find-documents collectionName="Sample" fields="," doc:name="Find documents" doc:id="4fc44afc-deaf-4c1e-8da7-1000d19552a5" config-ref="MongoDB_Config">
		</mongo:find-documents>
		</ee:cache>
		<ee:transform doc:name="Success Response" doc:id="89c8a5e0-8259-4e27-8802-3b5f83b82743" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{	
  "status": "SUCCESS",
  "responseCode": "200",
  "responseDescription": "Dealer method executed successfully",

	 dealer:  payload map $ - "_id"
	 
	 } 	
  
	 

	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17029b80-fa7f-43d8-b3a1-82c6e4e3d85e" message="#[payload]"/>
	</flow>
</mule>
